body{
    margin:0px;
    padding:0px;
    font-family:Verdana,Sans-serif;
}

.navbar{
    max-width:100%;
    height:auto;
    background-color:#000000;
    color:white;
    
    
    
}
span.icon{
    color:red;
    display:inline-block;
}
#tigerimg{
    height:4em;
    padding:20px;
}
ul{
    list-style-type:none;
    margin:0;
    padding:0;
    display:inline-block;
    float:right;
}
li{
    display:inline-block;
    margin:20px 20px;
}
.main1{
    background-color:#000000;
    display:flex;

    
}
.girlimg{
    height:30rem;
    display:inline-block;
    margin-top:10px;
    margin-left:0px;
}
.about{
    color:white;
    width:30rem;
    margin:20px 60px;
    line-height:20px;
    position:relative;
    top:40px;

}
#a{
    color:#8b0000;
    font-size:20px;
    font-weight:bolder;
}
#b{
    font-size:50px;
    font-weight:bolder;
   
    
}
#c{
    color:grey;
    font-size:13px;
}
.btn1{
    padding:7px 10px;
    color:white;
    background-color:#8b0000;
    border:1px solid grey;
    font-weight:bolder;
}
.main2{
    display:flex;   
    flex-direction:row;
    background-color:#111111;
}
.sec1{
    height:300px;
    width:300px;
    margin:40px 100px;
    background-color:#1e1e1e;
}

i{
    color:#8b0000;
    font-size:40px;
    margin:30px 30px 10px 30px;
}
.h1{
    color:white;
    font-weight:bolder;
    margin:10px 30px 30px 30px;
}
.h2{
    color:grey;
    margin:0px 30px 30px 30px;
    font-size:12px;
}
.h3{
    color:#8b0000;
    margin:0px 0px 30px 30px;
    background-color:#1e1e1e;
    border:none;
    font-weight:bolder;
    font-size:15px;
    
}

.sec1:hover .h1,.sec1:hover .h2,.sec1:hover .h3,.sec1:hover,.sec1:hover i{
    color:white;
    background-color:#8b0000;
}
.main3{
    display:grid;
    grid-template-columns:auto auto auto auto;
    background-color:#111111;
    max-width:100%;
    height:auto;
    padding:98px;
   

}
section.item{
    background-color:#1e1e1e;
   
    margin:10px 10px 10px 10px;
    height:100px;
}
section.item1{
    grid-area:1 / 1 / 3 / 3;
    background-color:#1e1e1e;
    margin:10px 10px 10px 10px;
}
#item11,.itemA{
    font-size:80px;
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;
    font-weight:bolder;
    font-family:helvetica;
    color:#8b0000;
}
#item12,.itemB{
    margin:0px;
    font-size:20px;
    text-align:center;
    color:white;
    font-weight:bolder;
}
.itemA{
    font-size:20px; 
    margin-top:20px;
}
.itemB{
    font-size:10px;
    color:grey;
}
.main4{
    background-color:#000000;
}
.main4a{
    background-color:#1e1e1e;
    font-weight:bolder;
    color:white;
    padding:50px 40px;
    position:relative;
    font-size:20px;
}
.viewall{
    position:absolute;
    right:50px;
    padding:10px 20px;
    color:white;
    background-color:#8b0000;
    border:1px solid grey;
    font-weight:bolder;
   
}
.main4-innovation{
    font-size:15px;
    color:grey;
    opacity:0.7;
}
.main4-box{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;

}
.main4-box1,.main4-box2,.main4-box3,.main4-box4{
    width:500px;
    height:350px;
    padding:10px;
    margin:20px 40px 40px 40px;
    background-color:#1e1e1e;

}
.imgbox{
    display:block;
    margin:auto;
}
.infobox{
    color:white;
    position:relative;
    left:48px;
    font-weight:bolder;
}
.info{
    color:#8b0000;
    position:relative;
    left:48px;
    font-size:15px;
    font-weight:bolder;
}
.main4-final{
    color:white;
    position:relative;
    background-color:#1e1e1e;

   
}
.final-a{
    padding:50px 0px 0px 120px;
    font-weight:bolder;
    font-size:40px;
    font-family:helvetica;
    display:inline-block;
}
.final-b{
    display:inline-block;
    position:absolute;
    right:20%;
    bottom:60%;
    padding:10px 20px;
    color:white;
    background-color:#8b0000;
    border:1px solid grey;
    font-weight:bolder;

}
.final-c{
    padding:0px 0px 40px 120px;
    font-size:12px;
    color:grey;
    opacity:0.7;
}
.final-d{
    background-color:#000000;
    padding:80px 80px 10px 80px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-evenly;
    font-size:15px;
    opacity:0.7
}
li:hover{
    opacity:0.5;
}
button:hover{
    background-color:#8b0000;
    opacity:0.5;
    border:none;
}
img:hover{
    opacity:0.5;
}
